Objective: change original xlsx file to long format

In [5]:
import pandas as pd

In [21]:
df = pd.read_excel('./raw/new_MS_2001-2019.xlsx')
listOfDict = df.to_dict('records')

In [7]:
df.head()

,ID,ID_nm,CODE,SD_nm_rev,ADD,SGG_cd_rev,SGG_nm_rev,HEMD_cd,HEMD_cd2,HEMD_nm,...,yr_2011,yr_2012,yr_2013,yr_2014,yr_2015,yr_2016,yr_2017,yr_2018,yr_2019,yr_2020
0,111121,NaN,A,서울,서울 중구 덕수궁길 15,11020,중구,1114052000,1102052.0,소공동,...,1,1,1,1,1,1,1,1,1,1
1,111121,이전,A,서울,서울 중구 정동길 22,11020,중구,1114052000,1102052.0,소공동,...,0,0,0,0,0,0,0,0,0,0
2,111122,NaN,B,서울,서울 용산구 한강대로 405,11030,용산구,1117053000,1103053.0,남영동,...,1,1,1,1,1,1,1,1,1,1
3,111123,NaN,A,서울,서울 종로구 종로35가길 19,11010,종로구,1111063000,1101063.0,종로5.6가동,...,1,1,1,1,1,1,1,1,1,1
4,111123,이전,A,서울,서울 종로구 이화동 149-1,11010,종로구,1111064000,1101064.0,이화동,...,0,0,0,0,0,0,0,0,0,0

Declare a basic data model as a dictionary

In [8]:
site = {
    'id': None,
    'site_id': 'ID',
    'station_cd': 'CODE',
    'address': 'ADD',
    'adm_cd': 'SGG_cd_rev',
    'adm_nm': 'SGG_nm_rev',
    'hadm_cd': 'HEMD_cd',
    'hadm_nm': 'HEMD_nm',
    'badm_cd': 'BEMD_cd',
    'badm_nm': 'BEMD_nm',
    'wgs_x': 'WGS_X_rev',
    'wgs_y': 'WGS_Y_rev',
    'year': None,
}

In [9]:
df.columns

Index(['ID', 'ID_nm', 'CODE', 'SD_nm_rev', 'ADD', 'SGG_cd_rev', 'SGG_nm_rev',
       'HEMD_cd', 'HEMD_cd2', 'HEMD_nm', 'BEMD_cd', 'BEMD_nm', 'WGS_X_rev',
       'WGS_Y_rev', 'yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005',
       'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011',
       'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016', 'yr_2017',
       'yr_2018', 'yr_2019', 'yr_2020'],
      dtype='object')

In [10]:
year_columns = ['yr_2001', 'yr_2002', 'yr_2003', 'yr_2004', 'yr_2005',
       'yr_2006', 'yr_2007', 'yr_2008', 'yr_2009', 'yr_2010', 'yr_2011',
       'yr_2012', 'yr_2013', 'yr_2014', 'yr_2015', 'yr_2016', 'yr_2017',
       'yr_2018', 'yr_2019', 'yr_2020']

In [32]:
result = []
for d in listOfDict:
    for y in year_columns:
        record = {}
        record['site_id'] = d.get('ID')
        record['station_cd']= d.get('CODE')
        record['address']= d.get('ADD')
        record['adm_cd']= d.get('SGG_cd_rev')
        record['adm_nm']= d.get('SGG_nm_rev')
        record['hadm_cd']= d.get('HEMD_cd')
        record['hadm_nm']= d.get('HEMD_nm')
        record['badm_cd']= d.get('BEMD_cd')
        record['badm_nm']= d.get('BEMD_nm')
        record['wgs_x']= d.get('WGS_X_rev')
        record['wgs_y']= d.get('WGS_Y_rev')
        record['year']= y.split("_")[1]
        result.append(record)

In [36]:
pd.DataFrame(result).to_csv('./raw/long.csv')