In [56]:
import geopandas as gpd
import pandas as pd

In [57]:
df = pd.read_csv('./assets/locations.csv')

In [58]:
df.head(1).T

                         0
ID                  111121
ID_nm                  NaN
CODE                     A
SD_nm_rev               서울
ADD         서울 중구 덕수궁길 15
SGG_cd_rev           11020
SGG_nm_rev              중구
HEMD_cd         1114052000
HEMD_cd2         1102052.0
HEMD_nm                소공동
BEMD_cd         1114016600
BEMD_nm               서소문동
WGS_X_rev       126.974501
WGS_Y_rev        37.564228
yr_2001                  0
yr_2002                  0
yr_2003                  0
yr_2004                  0
yr_2005                  1
yr_2006                  1
yr_2007                  1
yr_2008                  1
yr_2009                  1
yr_2010                  1
yr_2011                  1
yr_2012                  1
yr_2013                  1
yr_2014                  1
yr_2015                  1
yr_2016                  1
yr_2017                  1
yr_2018                  1
yr_2019                  1
yr_2020                  1

In [59]:
df['year'] = None

In [60]:
out_df = df
year_range = range(2001, 2021)
for year in year_range:
    out_df.append(df)

out_df.shape

(682, 35)

In [61]:
df.shape
682 * 20

13640

In [ ]:
for row_idx, row in df.iterrows():
    for year in year_range:
        if row[f'yr_{year}'] == 1:
            df.iloc[row_idx]['year'] = year

In [25]:
row['yr_2001']

0

In [23]:
type(row)

pandas.core.series.Series

In [29]:
df.iloc[0]['yr_2010']

1